/Xaero*/
*.md
!README.md
/daimashili.ini
/emi.json
/exports
/hotbar.nbt
/usercache.json
/usernamecache.json
/data
/crash-reports
/ESM
/fancymenu*/
/aes/
/backups/
/logs/
/local/
/modernfix/
/saves/
/schematics/
/screenshots/
/shaderpacks/
/PCL/
*-natives/
natives-*/
/.probe/
/hs_err_pid16740.log
/options.txt
/rhino.local.properties
/patchouli_data.json
/patchouli_books/
/config/fabric/
/.vscode/
/TrashSlotSaveState.json
/config/sound_physics_remastered/
/gtceu/
/*.jar
/*.json
/${quickPlayPath}
*.log
/log4j2.xml
/resourcepacks/Minecraft-Mod-Language-Modpack-Converted-*.zip
/icon.png
/config/sound_physics_remastered/
hmclversion.cfg
/config/jei/ingredient-list-mod-sort-order.ini
/config/oculus.properties
/config/xaerominimap_entities.json
/config/embeddium-fingerprint.json
/config/jei/world/local/bookmarks.ini
/mods/.connector
/mods/.index
config/sidebar_buttons.json
config/presencefootsteps/userconfig.json
config/presencefootsteps/updater.json
config/modernfix-mixins.properties
config/konkrete/locals/pt_br.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/en_us.local
config/konkrete/locals/de_de.local
config/jei/world/local/bookmarks.ini
config/jei/recipe-category-sort-order.ini
config/jei/ingredient-list-mod-sort-order.ini
config/jecalculation/record.json
config/immediatelyfast.json
config/gtnn.json
config/gtceu.yaml
config/fml.toml
config/fancymenu/user_variables.db
config/fancymenu/ui_themes/light.json
config/fancymenu/ui_themes/dark.json
config/fancymenu/options.txt
config/fancymenu/legacy_checklist.txt
config/enchdesc.json
config/embeddium-options.json
config/embeddium-fingerprint.json
config/dsurround/soundconfig.json
config/dsurround/dsurround.json
config/de/mari_023/ae2wtlib.json5
config/cucumber-tags.json
config/attributefix.json
config/artifacts/common.json5
config/artifacts/client.json5
config/ae2/common.json
config/ae2/client.json
config/ad_astra.jsonc
config/ad_astra-client.jsonc
config/ad_astra-client.jsonc
config/ad_astra.jsonc
config/ae2/client.json
config/ae2/common.json
config/artifacts/client.json5
config/artifacts/common.json5
config/attributefix.json
config/cucumber-tags.json
config/de/mari_023/ae2wtlib.json5
config/dsurround/dsurround.json
config/dsurround/soundconfig.json
config/embeddium-fingerprint.json
config/embeddium-options.json
config/enchdesc.json
config/fancymenu/legacy_checklist.txt
config/fancymenu/options.txt
config/fancymenu/ui_themes/dark.json
config/fancymenu/ui_themes/light.json
config/fancymenu/user_variables.db
config/fml.toml
config/gtceu.yaml
config/gtnn.json
config/immediatelyfast.json
config/jecalculation/record.json
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/jei/world/local/bookmarks.ini
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/modernfix-mixins.properties
config/presencefootsteps/updater.json
config/presencefootsteps/userconfig.json
config/sidebar_buttons.json
config/ad_astra-client.jsonc
config/ad_astra.jsonc
config/ae2/client.json
config/ae2/common.json
config/artifacts/client.json5
config/artifacts/common.json5
config/attributefix.json
config/cucumber-tags.json
config/de/mari_023/ae2wtlib.json5
config/dsurround/dsurround.json
config/dsurround/soundconfig.json
config/embeddium-fingerprint.json
config/embeddium-options.json
config/enchdesc.json
config/fancymenu/legacy_checklist.txt
config/fancymenu/options.txt
config/fancymenu/ui_themes/dark.json
config/fancymenu/ui_themes/light.json
config/fancymenu/user_variables.db
config/fml.toml
config/gtceu.yaml
config/gtnn.json
config/immediatelyfast.json
config/jecalculation/record.json
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/jei/world/local/bookmarks.ini
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/modernfix-mixins.properties
config/presencefootsteps/updater.json
config/presencefootsteps/userconfig.json
config/sidebar_buttons.json
config/ad_astra-client.jsonc
config/ad_astra.jsonc
config/ae2/client.json
config/ae2/common.json
config/artifacts/client.json5
config/artifacts/common.json5
config/attributefix.json
config/cucumber-tags.json
config/de/mari_023/ae2wtlib.json5
config/dsurround/dsurround.json
config/dsurround/soundconfig.json
config/embeddium-fingerprint.json
config/embeddium-options.json
config/enchdesc.json
config/fancymenu/legacy_checklist.txt
config/fancymenu/options.txt
config/fancymenu/ui_themes/dark.json
config/fancymenu/ui_themes/light.json
config/fancymenu/user_variables.db
config/fml.toml
config/gtceu.yaml
config/gtnn.json
config/immediatelyfast.json
config/jecalculation/record.json
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
config/jei/world/local/bookmarks.ini
config/konkrete/locals/de_de.local
config/konkrete/locals/en_us.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/pt_br.local
config/modernfix-mixins.properties
config/presencefootsteps/updater.json
config/presencefootsteps/userconfig.json
config/sidebar_buttons.json
