/Xaero*/
*.md
!README.md
/daimashili.ini
/emi.json
/hotbar.nbt
/usercache.json
/usernamecache.json
/data
/crash-reports
/ESM
/fancymenu*/
/aes/
/backups/
/logs/
/local/
/modernfix/
/saves/
/schematics/
/screenshots/
/shaderpacks/
/PCL/
*-natives/
natives-*/
/.probe/
/hs_err_pid16740.log
/options.txt
/rhino.local.properties
/patchouli_data.json
/patchouli_books/
/config/fabric/
/.vscode/
/TrashSlotSaveState.json
/config/sound_physics_remastered/
/gtceu/
/*.jar
/*.json
/${quickPlayPath}
*.log
/log4j2.xml
