/Xaero*/
/daimashili.ini
/emi.json
/exports
/hotbar.nbt
/usercache.json
/usernamecache.json
/data
/crash-reports
/ESM
/fancymenu*/
/aes/
/backups/
/logs/
/local/
/modernfix/
/saves/
/schematics/
/screenshots/
/shaderpacks/
/PCL/
*-natives/
natives-*/
/.probe/
/hs_err_pid16740.log
/rhino.local.properties
/patchouli_data.json
/patchouli_books/

/.vscode/
/TrashSlotSaveState.json

/gtceu/
/*.jar
!packwiz*.jar
/*.json
!modpack_version.json
/${quickPlayPath}
*.log
/log4j2.xml
/resourcepacks/Minecraft-Mod-Language-Modpack-Converted-*.zip
/icon.png

hmclversion.cfg
/config/jei/ingredient-list-mod-sort-order.ini
/config/oculus.properties
/config/xaerominimap_entities.json
/config/embeddium-fingerprint.json
/config/embeddium-options.json
/config/jei/world/local/bookmarks.ini
/mods/.connector
/mods/.index
config/jei/world/server/Minecraft____4cd84be9/bookmarks.ini
mods/observable-4.4.2.jar
FTBLang/
observable_announce
#config/attributefix.json
#config/gtceu.yaml
#config/immediatelyfast.json
#config/immersive_aircraft.json
#config/modernfix-mixins.properties
#config/InventoryHUD/curios.json
#config/fancymenu/options.txt
#config/touhou_little_maid/info.json
/assets
PCL.ini
/libraries
versions/dev/dev.jar
versions/dev/dev.json
versions/dev/PCL/Setup.ini
/mods/*.jar
**/*.jar.disabled
**/*.jar.meta
**/*.log
/.mixin.out
!/mods/CTNH*.jar
!/mods/ctpp*.jar
!/mods/.index/
/replay_recordings/
/texturepacks/
/server-resource-packs/
/.replay_cache/
/pack.mcmeta
/icon.png
/servers.dat
/servers.dat_old
.idea
/tlm_custom_pack/

resourcepacks/*
!resourcepacks/AE2-1.20.1-Guide-zh_CN_v2.0.zip
!resourcepacks/AE2LightMode-1.20.1-ctnh.zip
!resourcepacks/Minecraft-Mod-Language-Modpack-Converted-1.20.1.zip

ldlib/
/patchouli_data.json
packwiz.exe
/tconplanner/

config/*
!config/ftbquests
!config/alexscaves_biome_generation
!config/almostunified
!config/alexsmobs
!config/apotheosis
!config/ars_nouveau
!config/biomesoplenty
!config/cataclysm
!config/fancymenu
!config/fpsreducer
!config/jade
!config/jei/blacklist.cfg
!config/legendarysurvivaloverhaul
!config/ModernUI
!config/armorcurve-common.toml
!config/ars_creo-common.toml
!config/attributefix.json
!config/carryon-common.toml
!config/chloride-client.json
!config/create_new_age-common.toml
!config/ctnhcore.yaml
!config/ctpp.yaml
!config/eclipticseasons-common.toml
!config/extrabotany-common.toml
!config/forge-client.toml
!config/gtceu.yaml
!config/jackseconomy_prices.json
!config/modernfix-mixins.properties
!config/twilightforest-common.toml
!config/sophisticatedcore-common.toml
!config/alexsmobs.toml
!config/tconstruct-common.toml
!config/inventoryhud-client.toml
!config/merequester-common.toml
!config/emi.css
!config/ali/ali_common.json
