{
  "isAutofishEnabled": true,
  "multiRod": false,
  "isOpenWaterDetectEnabled": true,
  "noBreak": false,
  "persistentMode": false,
  "useSoundDetection": false,
  "forceMPDetection": false,
  "recastDelay": 1500,
  "randomPercent": 50,
  "reelInDelay": 1,
  "clearLagRegex": "\\[ClearLag\\] Removed [0-9]+ Entities!"
}